@import 'base';

.design_block_default {
  position: relative;
  float: right;
  clear: both;
  border: 1px dotted grey;
  padding: 10px 0 0 0;
  cursor: move;
  width: $trialWidth + 85px;
  min-height: 200px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px
}

.design_block_inner {
  position: relative;
  float: right;
  clear: both;
  width: $trialWidth + 85px;
  min-height: 200px;
}

.design_block_decorate {
  position: absolute;
  top: 0px;
  left: -15px;
  font-size: 12pt;
  font-family: Helvetica;
}
