@import 'base';

.design_container1 {
  width: 100%;
  float: left;
  min-width: $firstCol + $secondCol + px;
}

.design_container2 {
  width: 100%;
  float: left;
  min-width: $firstCol + $secondCol + px;
  overflow: auto;
}
