.design_moduleLoader_default {
  display: inline-block;
}

.design_moduleLoader_option_lvl0 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.design_moduleLoader_option_lvl1 {
  margin-left: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}
