@import 'base';

.design_run_default {
  position: relative;
  float: right;
  clear: both;
  padding: 10px 0 10px 0;
  cursor: move;
  width: $trialWidth + 179px;
  min-height: 200px;
  border: 1px dotted lightgrey;
}

.design_run_decorate {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 12pt;
  font-family: Helvetica;
}
