@import 'base';

.design_trial_default {
  position: relative;
  float: right;
  clear: both;
  padding: 0;
  margin: 7px 0;
  background-color: white;
  cursor: pointer;
  width: $trialWidth;
  height: $trialHeight;
}

.design_trial_dragger {
  height: 100%;
  width: 100%;
}
