@import 'base';

.design_trialPane_default {
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  width: $trialPaneWidth + px;
  height: $trialPaneHeight + px;
}
