@import 'base';

.design_trialRenderer_wrapper {
  float: right;
  width: 575px;
  margin-bottom: 15px;
}

.design_trialRenderer_default {
  position: relative;
  float: left;
  clear: both;
  padding: 0;
  margin-bottom: 15px;
  background-color: white;
  cursor: move;
  width: $trialWidth + 15px;
  height: $trialHeight + px;
}

.design_trialRenderer_branch {
  position: absolute;
  top: 23px;
  left: -82px;
  width: 80px;
}

.design_trialRenderer_branch.design_trialRenderer_branch_single {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  height: 2px;
}

.design_trialRenderer_branch.design_trialRenderer_branch_top {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  height: 75px;
}

.design_trialRenderer_branch.design_trialRenderer_branch_middle {
  border-left: 1px solid grey;
  height: 75px;
}

.design_trialRenderer_branch.design_trialRenderer_branch_bottom {
  border-top: 1px solid grey;
  height: 1px;
}
