@import 'base';

.design_trialPane_default {
  position: fixed;
  top: 200px;
  left: 50%;
  margin-left: -376px;
  width: $trialPaneWidth + px;
  height: $trialPaneHeight + px;
  overflow: hidden;
}
