$trialWidth: 104;
$trialHeight: 78;
$firstCol: 261;
$secondCol: 640;
$thirdCol: 212;
$trialPaneWidth: 640;
$trialPaneHeight: 480;
$primaryLight: #1980DD;
$primaryDark: #3E17E1;
$primaryText: 'Oxygen', sans-serif;
$accent: #dca442;
$editorColorLight: #dbe2e9;
$editorColorDark: #586b85;
$editorColorBlack: #2d2d2d;
