.design_imageField_default {
  display: flex; /*NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /*OLD - Firefox 19- */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /*NEW -Chrome */
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  justify-content: center;
  align-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.design_imageField_default img {
  align-self: center;
  width: 100%;
  height: 100%;
}

.design_imageField_label {
  position: absolute;
  left: 260px;
  top: 90px;
}

.design_imageField_label p {
  text-align: center;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0,0,0,.26);
}

.design_imageField_dialog {
  width: 800px;
  height: 480px;
}

.design_imageField_box {
  width: 730px;
  height: 280px;
  border: 1px solid #b6b6b6;
}

.design_urlField_default {
  margin-left: 40px;
  margin-top: 90px;
}

.design_urlField_textfield {
  width: 550px;
}
